.container {
    flex: 1;
    /* background-color: #4FD3DA; */
    align-items: center;
    justify-content: center;
    height: 100%;
}
.inputView {
    width: 80%;
    border: 1px solid #3AB4BA ;
    border-radius: 25px;
    height: 50px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;   
}
.inputText {
    height: 50px;
}
.formActions{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.formActions:nth-child(3){
    background: white;
}
.registerBtn{
    background: transparent;
    font-size: 17px;
    color: #299aa0;
}
/*
.inputView{}
 */